<div id="results_box" style="display:none">

    <div id="left_side" class='col-lg-4' style="float:left">
    <!-- LEFT SIDE -->
    <div class="search" style="margin-top:50px;margin-left:10px;padding-top:0px !important">
      <div class="identity">
        <p>SENTIMENT ANALYSIS</p>
      </div>
      <div class="search-assets">
       <p>ANALYZING SENTIMENT RESPONSE</p>
      </div>
      <div class="assets">
        <li>
          <div class="rank">
            POSITIVE:
          </div>
          <div class="name">
            95%
          </div>
        </li>
      </div>
    </div>

    <div class="search" style="margin-top:20px;margin-left:10px;padding-top:0px !important;height: 270px !important">
      <div class="identity">
        <p>EMOTION ANALYSIS</p>
      </div>
      <div class="search-assets">
       <p>ANALYZING EMOTIONAL RESPONSE</p>
      </div>
      <div class="assets" style="height: 140px !important">
        <li>
          <div class="rank">
            ANGER:
          </div>
          <div class="name">
            13%
          </div>
        </li>
        <li>
          <div class="rank">
            JOY:
          </div>
          <div class="name">
            34%
          </div>
        </li>
        <li>
          <div class="rank">
            FEAR:
          </div>
          <div class="name">
            21%
          </div>
        </li>
        <li>
          <div class="rank">
            SADNESS:
          </div>
          <div class="name">
            18%
          </div>
        </li>
        <li>
          <div class="rank">
            SADNESS:
          </div>
          <div class="name">
            29%
          </div>
        </li>
      </div>
    </div>

    <div class="search" style="margin-top:20px;margin-left:10px;padding-top:0px !important;height: 240px !important">
      <div class="identity">
        <p>POLITICAL ANALYSIS</p>
      </div>
      <div class="search-assets">
       <p>ANALYZING POLITICAL AFFILIATION</p>
      </div>
      <div class="assets" style="height:110px !important">
          <li>
            <div class="rank">
              CONSERVATIVE:
            </div>
            <div class="name">
              13%
            </div>
          </li>
          <li>
            <div class="rank">
              GREEN:
            </div>
            <div class="name">
              26%
            </div>
          </li>
          <li>
            <div class="rank">
              LIBERAL:
            </div>
            <div class="name">
              53%
            </div>
          </li>
          <li>
            <div class="rank">
              LIBERTARIAN:
            </div>
            <div class="name">
              18%
            </div>
          </li>
      </div>
    </div>
    <!-- END LEFT SIDE -->
    </div>

    <div id="right_side" class='col-lg-4' style="float:right">
    <!-- RIGHT SIDE -->
    <div class="search" style="margin-top:50px;margin-right:10px;padding-top:0px !important;height:245px !important">
      <div class="identity">
        <p>PEOPLE ANALYSIS</p>
      </div>
      <div class="search-assets">
       <p>ANALYZING PERSONAL RELATIONS</p>
      </div>
      <div class="assets" style="height:115px !important">
        <li>
          <div class="rank">
            PERSON:
          </div>
          <div class="name">
            JIMMY FALLON
          </div>
        </li>
        <li>
          <div class="rank">
            PERSON:
          </div>
          <div class="name">
            BARRACK OBAMA
          </div>
        </li>
        <li>
          <div class="rank">
            PERSON:
          </div>
          <div class="name">
            SETH MEYERS
          </div>
        </li>
        12 more...
      </div>
    </div>

    <div class="search" style="margin-top:20px;margin-right:10px;padding-top:0px !important;height:245px !important">
      <div class="identity">
        <p>PLACES ANALYSIS</p>
      </div>
      <div class="search-assets">
       <p>ANALYZING LOCATIONAL RELATIONS</p>
      </div>
      <div class="assets" style="height:115px !important">
        <li>
          <div class="rank">
            LOCATION:
          </div>
          <div class="name">
            FLORIDA
          </div>
        </li>
        <li>
          <div class="rank">
            LOCATION:
          </div>
          <div class="name">
            LONDON
          </div>
        </li>
        <li>
          <div class="rank">
            LOCATION:
          </div>
          <div class="name">
            AUSTRALIA
          </div>
        </li>
        7 more...
      </div>
    </div>

    <div class="search" style="margin-top:20px;margin-right:10px;padding-top:0px !important;height:245px !important">
      <div class="identity">
        <p>ORGANIZATION ANALYSIS</p>
      </div>
      <div class="search-assets">
       <p>ANALYZING RELATED ORGANIZATIONS</p>
      </div>
      <div class="assets" style="height:115px !important">
        <li>
          <div class="rank">
            ORGANIZATION:
          </div>
          <div class="name">
            UNICEF
          </div>
        </li>
        <li>
          <div class="rank">
            ORGANIZATION:
          </div>
          <div class="name">
            FEMA
          </div>
        </li>
        <li>
          <div class="rank">
            ORGANIZATION:
          </div>
          <div class="name">
            SHIELD
          </div>
        </li>
        16 more...
      </div>
    </div>
    <!-- END RIGHT SIDE -->
    </div>

    <div id="center" class='col-lg-4'>
    <!-- MIDDLE SIDE -->
    <div class="search" style="margin-top:50px;padding-top:0px !important;height:200px !important">
      <div class="identity">
        <p>PERSON OF INTEREST</p>
      </div>
      <div class="search-assets">
       <p>ANALYSIS IN PROGRESS</p>
      </div>
      <div class="assets" style='height:70px !important'>
        <li>
          <div class="rank">
            TWITTER:
          </div>
          <div class="name">
            <span id="twitter_handle"></span>
          </div>
        </li>
        <li>
          <div class="rank">
            CLASSIFICATION:
          </div>
          <div class="name">
            IRRELEVANT
          </div>
        </li>
      </div>
    </div>

   <div class="search" style="margin-top:20px;padding-top:0px !important;height: 240px !important">
      <div class="identity">
        <p>PERSONALITY ANALYSIS</p>
      </div>
      <div class="search-assets">
       <p>ANALYZING PERSONALITY TRAITS</p>
      </div>
      <div class="assets" style="height: 110px !important">
        <li>
          <div class="rank">
            EXTRAVERSION:
          </div>
          <div class="name">
            16%
          </div>
        </li>
        <li>
          <div class="rank">
            OPENNESS:
          </div>
          <div class="name">
            3%
          </div>
        </li>
        <li>
          <div class="rank">
            AGREEABLENESS:
          </div>
          <div class="name">
            35%
          </div>
        </li>
        <li>
          <div class="rank">
            CONSCIENTIOUSNESS:
          </div>
          <div class="name">
            13%
          </div>
        </li>
      </div>
    </div>

    <div class="search" style="margin-top:20px;padding-top:0px !important;height: 275px !important">
      <div class="identity">
        <p>PERSONA ANALYSIS</p>
      </div>
      <div class="search-assets">
       <p>ANALYZING MYERS-BRIGGS PERSONAS</p>
      </div>
      <div class="assets" style="height: 145px !important">
        <li>
          <div class="rank">
            ADVOCATE:
          </div>
          <div class="name">
            21%
          </div>
        </li>
        <li>
          <div class="rank">
            DEBATOR:
          </div>
          <div class="name">
            16%
          </div>
        </li>
        <li>
          <div class="rank">
            MEDIATOR:
          </div>
          <div class="name">
            10%
          </div>
        </li>
        <li>
          <div class="rank">
            CONSUL:
          </div>
          <div class="name">
            6%
          </div>
        </li>
        12 more...
      </div>
    </div>
    <!-- END MIDDLE SIDE -->
    </div>
  </div>

  <div class="search" id="input_box" style="display:none;margin-top:250px;padding-top:0px !important">
    <div class="identity">
      <p>AWAITING OPERATOR INPUT</p>
    </div>
    <div class="search-assets" id="input_text">
      <p>TWITTER ANALYSIS ONLINE</p>
    </div>
    <div class="assets" id="input_text_fields">
      <input style="background-color:rgba(0, 0, 0, 0);color:white;border: none;outline:none;width:90%;height:70%;font-size:18px;font-family:'Futura LT'" autofocus="autofocus" id="input_twitter_handle"></input>
    </div>
  </div>
  </div>

  <div class="search" id="loading_box" style="margin-top:250px;padding-top:0px !important">
      <div class="identity">
        <p>PRIMARY BOOT IN PROGRESS</p>
      </div>
      <div class="search-assets" id="loading_text">
          <p>LOADING LIBRARIES</p>
      </div>
      <div class="assets" id="loading_libs">
        <ul id="zoomout">
            <li>
              <div class="rank">
                SOCIAL:
              </div>
              <div class="name">
                TWITTER.TIMELINE
              </div>
            </li>
            <li>
              <div class="rank">
                ANALYSIS:
              </div>
              <div class="name">
                INDICO.TEXT.SENTIMENT
              </div>
            </li>
            <li>
              <div class="rank">
                ANALYSIS:
              </div>
              <div class="name">
                INDICO.TEXT.POLITICAL
              </div>
            </li>
            <li>
              <div class="rank">
                ANALYSIS:
              </div>
              <div class="name">
                INDICO.TEXT.PEOPLE
              </div>
            </li>
            <li>
              <div class="rank">
                ANALYSIS:
              </div>
              <div class="name">
                INDICO.TEXT.PLACES
              </div>
            </li>
            <li>
              <div class="rank">
                ANALYSIS:
              </div>
              <div class="name">
                INDICO.TEXT.ORGANIZATIONS
              </div>
            </li>
            <li>
              <div class="rank">
                ANALYSIS:
              </div>
              <div class="name">
                INDICO.TEXT.PERSONALITY
              </div>
            </li>
            <li>
              <div class="rank">
                ANALYSIS:
              </div>
              <div class="name">
                INDICO.TEXT.PERSONAS
              </div>
            </li>
            <li id="last_item">
              <div class="rank">
                ANALYSIS:
              </div>
              <div class="name">
                INDICO.TEXT.EMOTION
              </div>
            </li>
        </ul>
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $("#input_twitter_handle").on('input',function(){
          $("#input_text").text("PRESS ENTER TO ANALYZE ("+$(this).val()+")");
        })
        $("#input_twitter_handle").on('keypress', function (event) {
          if (event.which == 13)
          {
            switchToThirdScreen();
          }
        })
      });
      function handleReturns(data){
        alert(data)
      }
      function switchToSecondScreen(){
        $("#loading_box").fadeOut(500, function(){
          $("#input_box").fadeIn(500, function(){
          })
        })
      }
      function switchToThirdScreen(){
        $("#input_box").fadeOut(500, function(){
          $("#results_box").fadeIn(500, function(){
            $("#twitter_handle").text($("#input_twitter_handle").val())
            $.post("/analyze", { twitter_handle: $("#input_twitter_handle").val() }, handleReturns);
          })
        })
      }
      $("#zoomout").Morphist({
          animateIn: 'fadeInUp',
          animateOut: 'fadeOutUp',
          speed: 0,
          complete: function(){
            if ($("#last_item").hasClass('animated')){
              $("#loading_text").text("OPERATOR CONTROL ACTIVE")
              $("#loading_libs").fadeOut(500, function(){
                $("#loading_box").animate({
                  height: 100
                }, 500);
                setTimeout(switchToSecondScreen, 1000);
              })
            }
          }
      });
  </script>
